<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="http://aristeides.com/marianacute/css/bootstrap.min.css" />
	<link rel="stylesheet" href="http://aristeides.com/marianacute/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://aristeides.com/marianacute/css/maximage.css">
	<link rel="stylesheet" href="http://aristeides.com/marianacute/css/spirito.css" />

	<script src="http://aristeides.com/marianacute/js/modernizr.custom.min.js"></script>
</head>
