<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://aristeides.com/marianacute/js/bootstrap.min.js"></script>
<script src="http://aristeides.com/marianacute/js/waypoints.min.js"></script>
<script src="http://aristeides.com/marianacute/js/waypoints.sticky.js"></script>
<script src="http://aristeides.com/marianacute/js/jquery.nav.js"></script>
<script src="http://aristeides.com/marianacute/js/jquery.scrollTo.min.js"></script>
<script src="http://aristeides.com/marianacute/js/jquery.bxslider.min.js"></script>
<script src="http://aristeides.com/marianacute/js/jquery.cycle.all.min.js"></script>
<script src="http://aristeides.com/marianacute/js/jquery.mixitup.min.js"></script>
<script src="http://aristeides.com/marianacute/js/jquery.appear.js"></script>
<script src="http://aristeides.com/marianacute/js/jquery.maximage.min.js"></script>
<script src="http://aristeides.com/marianacute/js/jquery.parallax.js"></script>
<script src="http://aristeides.com/marianacute/js/spirito.js"></script>
<script src="http://aristeides.com/marianacute/js/portfolio-grid.js"></script>
<script>
	$(document).ready(function() {
		Spirito.init().initSliders().initPortfolio();
		Grid.init();			

		$(window).load(function(){
			$('#loader').fadeOut(1000,function(){ $(this).remove(); });
			Spirito.parallax();
		});
	});
</script>
</body>
</html>
