<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/waypoints.sticky.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery.cycle.all.min.js"></script>
<script src="js/jquery.mixitup.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.maximage.min.js"></script>
<script src="js/jquery.parallax.js"></script>
<script src="js/spirito.js"></script>
<script src="js/portfolio-grid.js"></script>
<script>
	$(document).ready(function() {
		Spirito.init().initSliders().initPortfolio();
		Grid.init();			

		$(window).load(function(){
			$('#loader').fadeOut(1000,function(){ $(this).remove(); });
			Spirito.parallax();
		});
	});
</script>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
