#works-container .item {
    background-size: cover;
    background-position: center center;
    width: 25%;
}

#works-container .item {
    min-height: 200px;
    min-width: 250px;
}

#works-container .item img {
    display: none;
    max-width: 100%;
}

#works-container .item.gigante {
    width: 50%;
}

#works-container .item.gigante img {
    display: block;
}

#works-container .item img {
    width: 100%;
    max-height: auto;
}
